.discovery {
  background-color: #f3f4f6;
  padding: 3px;
}

.carditem {
  width: 225px;
  height: 170px;
  display: flex;
}

.cardtypo1 {
  color: #000;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
